<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mtu01_husky">

<xacro:include filename="$(find husky_description)/urdf/base.urdf.xacro" />
<xacro:include filename="$(find mtu01_husky)/urdf/topPlate.urdf" />
<xacro:include filename="$(find mtu01_husky)/urdf/lms1xx_2.urdf" />

</robot>